// == Debug ==
//
$debug: false;
// $debug: true;

// Borders
@if $debug {
  .db {
    // outline: 4px solid rgba(255,0,0,0.5);
    outline: 4px solid rgba(255,255,255,0.5);
    outline-offset: -4px;
  }
  .db.r {
    outline-color:rgba(255,0,0,0.5);
  }
  .db.g {
    outline-color:rgba(0,255,0,0.5);
  }
  .db.b {
    outline-color:rgba(0,0,255,0.5);
  }
  .db.y {
    outline-color:rgba(255,255,0,0.5);
  }
}


// == Common ==
//



// Headers
h1, h2, h3, h4 {
  text-align: center;
}
.heading {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
}

// Custom bootstrap
.btn-custom {
  @include button-variant(white, #555, #555);
}
li.active>a {
  @include button-variant(black, #fff, #000);
}

// Menu
li {
  display: inline;
}
#menu {
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  background: #333;
  z-index: 9;

  color: white;
  line-height: 50px;
}
li.pull-right {
  margin-left: 8px;
}
@media (max-width: 500px) {
  .btn {
    padding: 5px 3px;
    line-height: 1.3;
    font-size: 90%;
  }
}

// Fullpage.js alignment
.inner {
  margin: 100px 0px 0px 0px;
  height: 100%;
  color: white;
  padding-bottom: 0px;
}
.viewport {
  height: calc(100% - 50px);
}

// Background images
.section
{
  background-size: cover;
  background-position: center center;
}
.home
{
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/303256/sunrise-1014713_1920.jpg);
}
.about
{
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/303256/tuscany-945506_1920.jpg);
}
.portfolio
{
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/303256/arches-945495_1920.jpg);
}
.contact
{
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/303256/snow-21979_1920.jpg);
}

// Reusable Flexbox classes
.fc-row {
  display: flex;
  flex-flow: row nowrap;
}
.fc-col {
  display: flex;
  flex-flow: column nowrap;
}
.fc-wrap {
  flex-wrap: wrap;
}

.fi-4 {
  flex: 4 1 auto;
}
.fi-1 {
  flex: 1 1 auto;
}
.fi-1-0 {
  flex: 1 0 auto;
}
.fi-0-1 {
  flex: 0 1 auto;
}
// .fi-4th {
//   flex-grow: 0;
//   flex-shrink: 1;
//   flex-basis: 23%;
// }
.fi-sp10 {
  flex: 0 1 0%;
}

.m-4 {
  margin: 4px;
}


// == About Page ==
//
.flexbox-container {
  display: flex;
  flex-direction: row;

  .flexbox-big {
    flex: 4;
  }
  &.flexbox-small {
    flex: 1;
  }
}
.tbox {
  margin: 8px;
  padding: 8px;
  border: 4px solid rgba(0,0,0,0.25);
  border-radius: 8px;
  background: rgba(0,0,0,0.5);
}

// Scroll (old)
.about-scroll {
  // height: 100%;
  overflow: hidden;
}
.about-scroll ul {
    overflow: hidden;
    position: absolute;
    width: 100%;
    // height: 100%;

    // text-align: center;
    transform:translateY(0%);
    animation: scroll-up 5s linear infinite;

}
@keyframes scroll-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

// New scroll
.skills {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: block; list-style: none;
    }
  }
}

// New tbox
.ab-box {
  margin: 8px;
  padding: 8px;
  border: 4px solid rgba(0,0,0,0.25);
  border-radius: 8px;
  background: rgba(0,0,0,0.5);
  img {
    margin-right: 8px;
  }
}






// == Portfolio Page ==
//
.floating
{
  position: fixed;
  color: white;
  margin: 50px 25% 25% 0%;
  width: 100%;
}

.pf-deep {
  padding: 70px;
}

.portfolio-page {
  min-height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  >div {
    display: flex;
    flex-basis: calc(100% - 40px);
    justify-content: center;
    flex-direction: column;
    >div {

      >span {
        background: rgba(0,0,0,0.75);
        padding: 4px 8px;
      }

      display: flex;
      justify-content: center;
      flex-direction: row;
    }
  }
}

@media all and (min-width: 600px) {
  .portfolio-page>div { flex-basis: calc(50% - 40px); }
}

@media all and (min-width: 1000px) {
  .portfolio-page>div { flex-basis: calc(33% - 40px); }
}

.pf-box {
  margin: 20px;
  background-size: cover;
  background-position: center center;
}


// == Contact Page ==

// Social Buttons
.dinotalk:before{content:"\f099"}
.chainedin:before{content:"\f0e1"}
.visagelivre:before{content:"\f09a"}

// Form
input, textarea {
  color: black;
  resize: none;
}
@media all and (min-width: 600px) {
  .fi-sp10 {
    flex: 1 0 1%;
  }
}
@media all and (min-width: 1000px) {
  .fi-sp10 {
    flex: 1 0 10%;
  }
}

.con-head {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
}


.con-fi {
  flex: 0 0 auto;
}
.con-fi-content {
  flex: 1 1 auto;
  justify-content: center;
}
.cfi-center {
  flex: 0 1 80%;
}
.cfc-btns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.fi-4th {
  // flex-grow: 1;
  // flex-shrink: 1;
  // flex-basis: 20%;
  // flex: 0 1 auto;
  // margin: 4px;
  // padding: 4px;
  span {
    // margin: 4px;
  }
}
.ex {
  min-width: 100%;
  height: 100%;
}
.contact-form {
  background: rgba(0,0,0,0.5);
  padding: 16px;
}
.con-footer {
  background: #333;
  justify-content: center;
}







// EOF
